<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16729105354-7rlit5oorn3acciuso921t6t530596ks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16729105354-7rlit5oorn3acciuso921t6t530596ks</string>
	<key>API_KEY</key>
	<string>AIzaSyDKpUdeZIBBXoV__VHuX0_hSW1Q-wEfqcw</string>
	<key>GCM_SENDER_ID</key>
	<string>16729105354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.podo.podolist.release</string>
	<key>PROJECT_ID</key>
	<string>podolist-26690</string>
	<key>STORAGE_BUCKET</key>
	<string>podolist-26690.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16729105354:ios:71a84cb4c8566415672533</string>
	<key>DATABASE_URL</key>
	<string>https://podolist-26690.firebaseio.com</string>
</dict>
</plist>